{% extends 'base.html' %} {% block content %}
<div class="container-fluid h-100">
  <div class="content-box col-md-11 mx-auto text-center">
    <h1>rQES (Wallet Driven)</h1>
    <div class="genericErrors" id="genericErrorsDesc"></div>
    <p style="font-size: 15px">
      Welcome to the remote Qualified Eletronic Signature component
      wallet-driven backend server.
    </p>
    <p style="font-size: 15px">
      A Relying Party Web Page is available at:
      <a href="{{redirect_url}}"
        >https://walletcentric.signer.eudiw.dev/rp/tester</a
      >
    </p>
  </div>
</div>
{% endblock %}
