{% extends 'base.html' %} {% block content %}
<div class="container-fluid h-100">
  <div class="content-box col-md-11 mx-auto text-center">
    <h1>Sign Document</h1>
    <h2>Select Signature Options</h2>

    <div class="genericErrors" id="genericErrorsDesc"></div>

    <div class="preview-area" id="previewArea">
      <h3>Chosen Document: {{ filename }}</h3>
      <div class="preview-document" style="padding-top: 56.25%">
        <iframe
          class="responsive-iframe"
          src="/rp/tester/document/{{ filename }}"
          title="Document to Sign"
        ></iframe>
      </div>
    </div>

    <div class="options-form">
      <form action="{{ url_for('RP.sca_signature_flow') }}" method="post">
        <input type="hidden" name="filename" value="{{ filename }}" />

        <!--Signature Format-->
        <div class="options-form-group">
          <label>
            <input
              type="hidden"
              name="signature_format"
              value="{{ signature_format }}"
            />
            <strong style="color: #0048d2; font-size: 14px"
              >Signature Format:</strong
            >
            {{ signature_format }}
          </label>
        </div>

        <!--Container-->
        {% if signature_format in ['XAdES', 'CAdES'] %}
        <div class="options-form-group">
          <legend>Select the container:</legend>
          <label>
            <input
              type="radio"
              id="no"
              name="container"
              value="No"
              onchange="updatePackagingOptions(this.value)"
              checked
            />
            No
          </label>
          <label>
            <input
              type="radio"
              id="asic-s"
              name="container"
              value="ASiC-S"
              onchange="updatePackagingOptions(this.value)"
            />
            ASiC-S
          </label>

          <label>
            <input
              type="radio"
              id="asic-e"
              name="container"
              value="ASiC-E"
              onchange="updatePackagingOptions(this.value)"
            />
            ASiC-E
          </label>
        </div>
        {% else %}
        <div class="options-form-group">
          <legend>Select the container:</legend>

          <label>
            <input
              type="radio"
              id="no"
              name="container"
              value="No"
              onchange="updatePackagingOptions(this.value)"
              checked
            />
            No
          </label>
        </div>
        {% endif %}

        <!--Packaging-->
        <div class="options-form-group" id="packaging-options">
          <legend>Select the packaging:</legend>

          {% if signature_format in ['PAdES', 'XAdES'] %}
          <label>
            <input type="radio" name="packaging" value="ENVELOPED" checked />
            Enveloped
          </label>
          {% endif %} {% if signature_format in ['XAdES', 'CAdES', 'JAdES'] %}
          <label>
            <input type="radio" name="packaging" value="ENVELOPING" />
            Enveloping
          </label>
          <label>
            <input type="radio" name="packaging" value="DETACHED" />
            Detached
          </label>
          {% endif %} {% if signature_format == 'XAdES' %}
          <label>
            <input type="radio" name="packaging" value="INTERNALLY_DETACHED" />
            Internally Detached
          </label>
          {% endif %}
        </div>

        <!--Level-->
        <div class="options-form-group">
          <legend>Select the level:</legend>

          <label>
            <input type="radio" name="level" value="Ades-B-B" checked />
            BASELINE-B
          </label>
          <label>
            <input type="radio" name="level" value="Ades-B-T" />
            BASELINE-T
          </label>
          <label>
            <input type="radio" name="level" value="Ades-B-LT" />
            BASELINE-LT
          </label>
          <label>
            <input type="radio" name="level" value="Ades-B-LTA" />
            BASELINE-LTA
          </label>
        </div>

        <!--Digest Algorithm-->
        <div class="options-form-group">
          <legend>Select the digest algorithm:</legend>

          {% for algorithm in digest_algorithms %}
          <label>
            <input
              type="radio"
              name="digest_algorithm"
              value="{{ algorithm.oid }}"
              {%
              if
              loop.first
              %}checked{%
              endif
              %}
            />
            {{ algorithm.name }}
          </label>
          {% endfor %}
        </div>

        <div class="button-container">
          <button type="submit" class="btn custom-btn">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function updatePackagingOptions(new_value) {
    const container = new_value;
    const packagingDiv = document.getElementById("packaging-options");
    let signatureFormat = "{{ signature_format }}";
    let packagingHtml = "";

    if (
      (container === "ASiC-S" || container === "ASiC-E") &&
      (signatureFormat === "XAdES" || signatureFormat === "CAdES")
    ) {
      packagingHtml +=
        '<label><input type="radio" name="packaging" value="DETACHED" checked/>Detached</label>';
    } else {
      switch (signatureFormat) {
        case "PAdES":
          packagingHtml +=
            '<label><input type="radio" name="packaging" value="ENVELOPED" checked/> Enveloped</label>';
          break;
        case "XAdES":
          packagingHtml +=
            '<label><input type="radio" name="packaging" value="ENVELOPED" checked/> Enveloped</label>';
          packagingHtml +=
            '<label><input type="radio" name="packaging" value="ENVELOPING"/> Enveloping</label>';
          packagingHtml +=
            '<label><input type="radio" name="packaging" value="DETACHED"/> Detached</label>';
          packagingHtml +=
            '<label><input type="radio" name="packaging" value="INTERNALLY_DETACHED"/>Internally Detached</label>';
          break;
        case "CAdES":
        case "JAdES":
          packagingHtml +=
            '<label><input type="radio" name="packaging" value="ENVELOPING"/> Enveloping</label>';
          packagingHtml +=
            '<label><input type="radio" name="packaging" value="DETACHED"/> Detached</label>';
          break;
      }
    }

    packagingDiv.innerHTML =
      `<legend>Select the packaging:</legend>` + packagingHtml;
  }
</script>

{% endblock %}
